.welcome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1px;
    background-color: black;


    left:33%;
    bottom: 45%;
    position: absolute;
    font-size: 80pt;
}