body {
  display: grid;
  



  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    /* background: url(https://i.pinimg.com/originals/3e/a8/f4/3ea8f4a65bbdb3c58ce14c0e36b76454.jpg);
    background-size: cover; */
    background-color: darkgrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
